# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# written for aqcc
_test*
*.~*~
main
aqcc_detail
*.self.s
*.selfself.s
tags
aqcc_self_detail
aqcc_selfself_detail
examples/nqueen/main.s
examples/nqueen/nqueen
__self_sort.in
__selfself_sort.in
cc/cc
as/as
ld/ld
test/bin
